@import 'variables';

.title {
    &-small {
        letter-spacing: 0.5rem;
        font-size: 2.4rem;

    }
}

.text {
    &-primary {
        color: var(--primary);
    }

    &-hint {
        color: var(--hint);
    }
}

.i-logo {
    font-size: 3rem;
    &-html {
        color: var(--color-html);
    }
    &-css {
        color: var(--color-css);
    }
    &-scss {
        color: var(--color-scss);
    }
    &-js {
        color: var(--color-js);
    }
    &-angular {
        color: var(--color-angular);
    }
}