:root {
    --font-family: 'Muli', 'sans-serif';

    //color
    --light: #00c3ff;
    --primary: #e67e22;
    --dark: #2980b9;
    --pumkin: #d35400;
    --carrot: #e67e22;
    --orange: #f39c12;
    --text: #333;
    --background: #fafafa;
    --hint: #999;

    --color-html: #e34c26;
    --color-css: #2965f1;
    --color-scss: #CD6799;
    --color-js: #F0DB4F;
    --color-angular: #B52E31;

    --border-color: #ddd;
}