:root {
    --font-family: 'Muli', 'sans-serif';

    //color
    --light: #00c3ff;
    --primary: #e67e22;
    --dark: #2980b9;
    --pumkin: #d35400;
    --carrot: #e67e22;
    --orange: #f39c12;
    --text: #333;
    --background: #fafafa;
    --hint: #999;

    --border-color: #ddd;
}